/*****harmony*****/
/* #harmony(headerhdmdp7lm3ya) #css starts  */
    .headerhdmdp7lm3ya .btn-outline-primary{
        background-color: #1AC782;
        border: none;
        color: white;
        font-weight: bold
    }
    .headerhdmdp7lm3ya .btn-outline-primary:not(:disabled):not(.disabled):active{
        background-color: #1AC782;
        border: none;
        color: white;
        font-weight: bold
    }
    .headerhdmdp7lm3ya .navbar-light .navbar-nav .nav-link{
        color: #33363D
    }
    .headerhdmdp7lm3ya .navbar-light .navbar-nav .nav-link:hover{
        color: #1AC782
    }

/* #harmony(headerhdmdp7lm3ya) #css ends  */
/*****harmony*****/

/*****agent*****/
    /* #agent(1e3f52aae36e7047) #css starts  */
    .aboutd1e3f52aae36e7047 .btn-outline-secondary {
        color: #fff;
        border-color: #1AC782;
        background: #1AC782;
        font-weight: 600
    }
    .aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active{
        color: #fff;
        border-color: #1AC782;
        background: #1AC782;
        font-weight: 600
    }
    /* #agent(1e3f52aae36e7047) #css ends  */
/*****agent*****/

/*****fori*****/
/* #fori(foriftgon8pdoif) #css starts */
.foriftgon8pdoif .fdb-block {
    padding: 1rem 0
 }
 .foriftgon8pdoif h1{
    font-size: 32px
}
.foriftgon8pdoif  h3{
    margin-top: 15px;
    font-size: 18px
}
/* #fori(foriftgon8pdoif) #css starts */
/*****fori*****/


/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 5.5rem 0
}
.fayete8bna5e4lc h2 {
    font-size: 18px;
    font-weight: 600
}

.fayete8bna5e4lc    .fdb-block .fdb-box {
    padding: 2.75rem 2.5rem
     }

     .fayete8bna5e4lc    .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #1AC782
     }
     .fayete8bna5e4lc  a {
    color: #33363D;
    font-weight: 600
     }
     .fayete8bna5e4lc  a:hover {
        color: #1AC782;
        font-weight: 600
         }
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****agdu*****/
    /* #agdu(d390a380620aac0e) #css starts  */
    .aboutd390a380620aac0e h4{
        font-size: 32px
    }
    .aboutd390a380620aac0e p {
        font-size: 20px
    }
    .aboutd390a380620aac0e .video_card::before {
        background-color: #8080
    }
    .aboutd390a380620aac0e .fa {
        color: #1AC782
    }

    .aboutd390a380620aac0e .video_card>.btn:hover,
    .aboutd390a380620aac0e .video_card>.btn:active {
        color: #1AC782
    }
    /* #agdu(d390a380620aac0e) #css ends  */
/*****agdu*****/

/*****tracey*****/
/* #tracey(testimonialcohi0ajeo7e) #css starts */
.testimonialcohi0ajeo7e{
    padding: 7rem 0
}
.testimonialcohi0ajeo7e .lead {
    font-size: 20px
}
/* #tracey(testimonialcohi0ajeo7e) #css starts */
/*****tracey*****/

/*****cark*****/ 
    /* #cark(clientsca9o7rhywmy) #css starts  */
    .clientsca9o7rhywmy h2 {
        font-size: 32px
    }
    /* #cark(clientsca9o7rhywmy) #css ends  */
/*****cark*****/ 

/*****fanta*****/
/* #fanta(f439c65adee997571) #css starts */
.footerf439c65adee997571 {
    overflow: hidden
}
.footerf439c65adee997571 img{
    max-width: 100px
}

.footerf439c65adee997571 .copyright {
    font-size: 18px
}

/* #fanta(f439c65adee997571) #css ends */
/*****fanta*****/